
.vs/Quoting Sheet/v14/.suo
Quoting Sheet/bin/Debug/*
Quoting Sheet/obj/Debug/*
Quoting Sheet/obj/Release/*
Quoting Sheet/bin/Release/Quoting Sheet.exe.config
Quoting Sheet/bin/Release/Quoting Sheet.pdb
Quoting Sheet/bin/Release/Quoting Sheet.vshost.exe
Quoting Sheet/bin/Release/Quoting Sheet.vshost.exe.config

